# Build folders
Extract/*
!Extract/.gitkeep

Mount/*
!Mount/.gitkeep

Output/*
!Output/.gitkeep

Temp/*
!Temp/.gitkeep

Logs/*
!Logs/.gitkeep

ISO/*
!ISO/.gitkeep

Autounattend/*
!Autounattend/.gitkeep

Installers/**
!Installers/
!Installers/.gitkeep
!Installers/**/
!Installers/**/.gitkeep

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini